@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Product Information</h1>
    <br />
    <h1>Sample Heading</h1>
    <table>
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Quantity</th>
        </tr>
        @foreach (var obj in Model.Product)
        {
            <tr>
                <td>@obj.ProductID</td>
                <td>@obj.ProductName</td>
                <td>@obj.Quantity</td>
            </tr>
        }
    </table>
</div>
