@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">List of Products</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <table>
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Quantity</th>
        </tr>
        @foreach (var obj in Model.Product)
        {
            <tr>
                <td>@obj.ProductID</td>
                <td>@obj.ProductName</td>
                <td>@obj.Quantity</td>
            </tr>
        }
    </table>
</div>
